
.index_left{
    color: white;
    text-align: center;
    padding: 15% 5% 0% 0%;
    height: 100%;
    background: -webkit-linear-gradient(130deg, #0069ff 50%, #006aff94 50%);
    background: -o-linear-gradient(130deg, #0069ff 50%, #006aff94 50%);
    background: -moz-linear-gradient(130deg, #0069ff 50%, #006aff94 50%);
    background: linear-gradient(130deg, #0069ff 50%, #006aff94 50%);
}
.index_left img{
    margin-bottom: 5%;
}

.index_right img{
    margin-bottom: 15%;
    width: 50%;
}

.index_right{
    text-align: center;
    padding-top: 23.5%;
}

.remember_me, .link{
    cursor: pointer;
}

.link{
    float: left;
}

.remember_me{
    float: right;
}

.title_left{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 3px 5px rgba(0,0,0,0.34);
}

.main{
    width: 100%;
    height: 100vh;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .index_left{
        height: 70%;
    }
    .index_right img{
        display: none;
    }
    .index_right{
        text-align: center;
        padding-top: 5%;
    }
}
  
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .index_left{
        padding: 5px;
        padding-top: 100px;
        height: 70%;
    }
    .index_right img{
        display: none;
    }
    .index_left img{
        width: 100%;
    }
    .index_right{
        text-align: center;
        padding-top: 0%;
    }
}
