<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/index.css">
        <link rel="shortcut icon" href="./static/img/favicon.png">
        <title>OgramCloud</title>
    </head>
    <body>
        <div class="main">
            <div class="col-md-9 index_left">
                <img src="./static/img/cloud.png"/>
        
                <h1 class="title_left">OgramCloud-Beta1.</h1>
                Transform your Telegram account into a free storage server, without REGISTRATION, completely FREE !
                <br/><br/>First, get your chat-id from Ogram-Telegram-bot, Second use it to send files here !
                <br/>If you want to get your file back, then copy the file-key and generate the download link(all files are deleted all 24h after download-link generated).
                <br/><br/>Because it's experimental, <b>[Max file-size: <i>100MB</i>]</b>, Have FUN !
            </div>
            <div class="col-md-3 index_right">
                <div id="app"></div>
            </div>
        </div>
        <script src="./static/js/route.js"></script>
        <script src="./static/js/router.js"></script>
        <script src="./static/js/app.js"></script>
    </body>
</html>
