<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./static/css/index.css">

        <title>OgramCloud</title>
    </head>
    <body>
        <div class="main">
            <div class="col-md-9 index_left">
                <img src="./static/img/cloud.png"/>

                <h1 class="title_left">OgramCloud.</h1>
                Transform your Telegram-Account to a Free Storage server, no SIGNIN/UP, completely FREE !
            </div>
            <div class="col-md-3 index_right">
                <div>
                    <img src="./static/img/files.png"/><br/>
                    <input type="text" 
                            id="chat_id" 
                            class="form-control col-md-8" 
                            style="margin-bottom: 5%;" 
                            autofocus name="chat_id" 
                            placeholder="Enter your chat-id, from Ogram-Telegram-Bot"/>
                    <button class="btn btn-primary col-md-4" >OPEN MY SPACE</button><br/>
                    <div style="width: 100%; margin-top: 1rem;">
                        <a href="https://t.me/omega_gram_bot" target="_blank" class="link">Get your chat-id !</a>
                        <label class="remember_me">
                            <input type="checkbox" name="" id="">
                            Remember me
                        </label>
                    </div>
                </div>

                <nav style="position: fixed; bottom: 3%;text-align: center;align-self: bottom;">
                    <a href="#">About</a> - <a href="#">Terms and conditions</a> - <a href="#">How it works</a> - <a href="#">Author</a>
                </nav>
            </div>
        </div>
    </body>
</html>
