<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Meet your Free Telegram-cloud, No limit in storage." />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="OgramCloud">
        <meta itemprop="description" content="Meet your Free Telegram-cloud, No limit in storage.">
        <meta itemprop="image" content="./static/img/favicon.png">
    
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="./static/img/large.png">
        <meta name="twitter:site" content="@publisher_handle">
        <meta name="twitter:title" content="OgramCoud">
        <meta name="twitter:description" content="Meet your Free Telegram-cloud, No limit in storage.">
        <meta name="twitter:creator" content="Sanix-darker">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="./static/img/favicon.png">
    
        <!-- Open Graph data -->
        <meta property="og:title" content="OgramCoud" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://ogramcloud.com/" />
        <meta property="og:image" content="./static/img/favicon.png" />
        <meta property="og:description" content="Meet your Free Telegram-cloud, No limit in storage." />
        <meta property="og:site_name" content="OgramCoud" />
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="500">
        <meta property="article:published_time" content="2020-07-19T05:59:00+01:00" />
        <meta property="article:modified_time" content="2020-07-19T19:08:47+01:00" />
    
        <meta property="article:section" content="Freely Transform your TELEGRAM ACCOUNT CLOUD-STORAGE-SERVER without registration/tracking, NO LIMIT IN STORAGE." />
        <meta property="article:tag" content="Article Tag" />    

        <title>Generating your file...</title>
    </head>
    <body>
        <h3 style="font-size: 70px;">
            <a href="https://ogramcloud.com" style="text-decoration: none;">Ogram-Cloud !</a>
            <small>
                By <a href="https://github.com/sanix-darker" target="_blank">d4rk3r</a>
            </small>
        </h3>
        Compiling and generating your file, wait few seconds...<br/><br/><hr>
        <script type="text/javascript"> setTimeout(() => { location.reload() }, 700); </script>
    </body>
</html>
